// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Earth from "../../../index.js";

export declare namespace PortfoliosClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class PortfoliosClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<PortfoliosClient.Options>;

    constructor(options: PortfoliosClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Return a GeoJSON FeatureCollection of features for a portfolio.
     *
     * @param {string} portfolio_id
     * @param {Earth.PortfoliosFeaturesRequest} request
     * @param {PortfoliosClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Earth.UnprocessableEntityError}
     *
     * @example
     *     await client.portfolios.features("portfolio_id", {
     *         x: 1,
     *         y: 1,
     *         z: 1,
     *         country: "country"
     *     })
     */
    public features(
        portfolio_id: string,
        request: Earth.PortfoliosFeaturesRequest = {},
        requestOptions?: PortfoliosClient.RequestOptions,
    ): core.HttpResponsePromise<Earth.FeatureCollection> {
        return core.HttpResponsePromise.fromPromise(this.__features(portfolio_id, request, requestOptions));
    }

    private async __features(
        portfolio_id: string,
        request: Earth.PortfoliosFeaturesRequest = {},
        requestOptions?: PortfoliosClient.RequestOptions,
    ): Promise<core.WithRawResponse<Earth.FeatureCollection>> {
        const { x, y, z, country } = request;
        const _queryParams: Record<string, unknown> = {
            x,
            y,
            z,
            country,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.EarthEnvironment.Production,
                `portfolios/${core.url.encodePathParam(portfolio_id)}/features`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Earth.FeatureCollection, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new Earth.UnprocessableEntityError(
                        _response.error.body as Earth.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.EarthError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/portfolios/{portfolio_id}/features",
        );
    }

    /**
     * Return a GeoJSON FeatureCollection of forecasts for a portfolio.
     *
     * @param {string} portfolio_id
     * @param {Earth.PortfoliosForecastsRequest} request
     * @param {PortfoliosClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Earth.UnprocessableEntityError}
     *
     * @example
     *     await client.portfolios.forecasts("portfolio_id", {
     *         id: ["id"],
     *         variables: ["variables"],
     *         init_time: "2024-01-15T09:30:00Z"
     *     })
     */
    public forecasts(
        portfolio_id: string,
        request: Earth.PortfoliosForecastsRequest,
        requestOptions?: PortfoliosClient.RequestOptions,
    ): core.HttpResponsePromise<Earth.TimeSeriesFeatureCollectionModel> {
        return core.HttpResponsePromise.fromPromise(this.__forecasts(portfolio_id, request, requestOptions));
    }

    private async __forecasts(
        portfolio_id: string,
        request: Earth.PortfoliosForecastsRequest,
        requestOptions?: PortfoliosClient.RequestOptions,
    ): Promise<core.WithRawResponse<Earth.TimeSeriesFeatureCollectionModel>> {
        const { id, variables, init_time: initTime } = request;
        const _queryParams: Record<string, unknown> = {
            id,
            variables,
            init_time: initTime,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.EarthEnvironment.Production,
                `portfolios/${core.url.encodePathParam(portfolio_id)}/forecasts`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Earth.TimeSeriesFeatureCollectionModel,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new Earth.UnprocessableEntityError(
                        _response.error.body as Earth.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.EarthError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/portfolios/{portfolio_id}/forecasts",
        );
    }

    /**
     * Return a GeoJSON FeatureCollection of observations for a portfolio.
     *
     * @param {string} portfolio_id
     * @param {Earth.PortfoliosObservationsRequest} request
     * @param {PortfoliosClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Earth.UnprocessableEntityError}
     *
     * @example
     *     await client.portfolios.observations("portfolio_id", {
     *         id: ["id"],
     *         variables: ["variables"],
     *         valid_time_start: "2024-01-15T09:30:00Z",
     *         valid_time_end: "2024-01-15T09:30:00Z"
     *     })
     */
    public observations(
        portfolio_id: string,
        request: Earth.PortfoliosObservationsRequest,
        requestOptions?: PortfoliosClient.RequestOptions,
    ): core.HttpResponsePromise<Earth.TimeSeriesFeatureCollectionModel> {
        return core.HttpResponsePromise.fromPromise(this.__observations(portfolio_id, request, requestOptions));
    }

    private async __observations(
        portfolio_id: string,
        request: Earth.PortfoliosObservationsRequest,
        requestOptions?: PortfoliosClient.RequestOptions,
    ): Promise<core.WithRawResponse<Earth.TimeSeriesFeatureCollectionModel>> {
        const { id, variables, valid_time_start: validTimeStart, valid_time_end: validTimeEnd } = request;
        const _queryParams: Record<string, unknown> = {
            id,
            variables,
            valid_time_start: validTimeStart,
            valid_time_end: validTimeEnd,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.EarthEnvironment.Production,
                `portfolios/${core.url.encodePathParam(portfolio_id)}/observations`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Earth.TimeSeriesFeatureCollectionModel,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new Earth.UnprocessableEntityError(
                        _response.error.body as Earth.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.EarthError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/portfolios/{portfolio_id}/observations",
        );
    }

    /**
     * Return the latest initialization time for a portfolio.
     *
     * @param {string} portfolio_id
     * @param {Earth.PortfoliosInitTimeRequest} request
     * @param {PortfoliosClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Earth.UnprocessableEntityError}
     *
     * @example
     *     await client.portfolios.initTime("portfolio_id", {
     *         time: "2024-01-15T09:30:00Z"
     *     })
     */
    public initTime(
        portfolio_id: string,
        request: Earth.PortfoliosInitTimeRequest,
        requestOptions?: PortfoliosClient.RequestOptions,
    ): core.HttpResponsePromise<string> {
        return core.HttpResponsePromise.fromPromise(this.__initTime(portfolio_id, request, requestOptions));
    }

    private async __initTime(
        portfolio_id: string,
        request: Earth.PortfoliosInitTimeRequest,
        requestOptions?: PortfoliosClient.RequestOptions,
    ): Promise<core.WithRawResponse<string>> {
        const { time } = request;
        const _queryParams: Record<string, unknown> = {
            time,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.EarthEnvironment.Production,
                `portfolios/${core.url.encodePathParam(portfolio_id)}/init_time`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as string, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new Earth.UnprocessableEntityError(
                        _response.error.body as Earth.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.EarthError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/portfolios/{portfolio_id}/init_time",
        );
    }
}
