// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import * as core from "../../../../../../core/index.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import * as Earth from "../../../../../index.js";

export declare namespace ForecastClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ForecastClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ForecastClient.Options>;

    constructor(options: ForecastClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Get daily weather forecast for a specific location
     * Only allowing local timezone aggregations for now since
     * it is unclear how exactly users will understand "UTC".
     *
     * @param {Earth.weather.ForecastDailyRequest} request
     * @param {ForecastClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Earth.UnauthorizedError}
     * @throws {@link Earth.NotFoundError}
     * @throws {@link Earth.UnprocessableEntityError}
     * @throws {@link Earth.InternalServerError}
     *
     * @example
     *     await client.weather.forecast.daily({
     *         latitude: 47.6061,
     *         longitude: -122.3328,
     *         timezone: "local",
     *         units: "metric"
     *     })
     */
    public daily(
        request: Earth.weather.ForecastDailyRequest,
        requestOptions?: ForecastClient.RequestOptions,
    ): core.HttpResponsePromise<Earth.DailyWeatherResponse> {
        return core.HttpResponsePromise.fromPromise(this.__daily(request, requestOptions));
    }

    private async __daily(
        request: Earth.weather.ForecastDailyRequest,
        requestOptions?: ForecastClient.RequestOptions,
    ): Promise<core.WithRawResponse<Earth.DailyWeatherResponse>> {
        const { latitude, longitude, timezone, units } = request;
        const _queryParams: Record<string, unknown> = {
            latitude,
            longitude,
            timezone: timezone != null ? timezone : undefined,
            units: units != null ? units : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.EarthEnvironment.Production,
                "forecast/daily",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Earth.DailyWeatherResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Earth.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Earth.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new Earth.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new Earth.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.EarthError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/forecast/daily");
    }

    /**
     * Get hourly weather forecast for a specific location
     *
     * @param {Earth.weather.ForecastHourlyRequest} request
     * @param {ForecastClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Earth.UnauthorizedError}
     * @throws {@link Earth.NotFoundError}
     * @throws {@link Earth.UnprocessableEntityError}
     * @throws {@link Earth.InternalServerError}
     *
     * @example
     *     await client.weather.forecast.hourly({
     *         latitude: 47.6061,
     *         longitude: -122.3328,
     *         timezone: "local",
     *         units: "metric",
     *         include_past: true
     *     })
     */
    public hourly(
        request: Earth.weather.ForecastHourlyRequest,
        requestOptions?: ForecastClient.RequestOptions,
    ): core.HttpResponsePromise<Earth.HourlyWeatherResponse> {
        return core.HttpResponsePromise.fromPromise(this.__hourly(request, requestOptions));
    }

    private async __hourly(
        request: Earth.weather.ForecastHourlyRequest,
        requestOptions?: ForecastClient.RequestOptions,
    ): Promise<core.WithRawResponse<Earth.HourlyWeatherResponse>> {
        const { latitude, longitude, timezone, units, include_past: includePast } = request;
        const _queryParams: Record<string, unknown> = {
            latitude,
            longitude,
            timezone: timezone != null ? timezone : undefined,
            units: units != null ? units : undefined,
            include_past: includePast,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.EarthEnvironment.Production,
                "forecast/hourly",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Earth.HourlyWeatherResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Earth.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Earth.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new Earth.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new Earth.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.EarthError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/forecast/hourly");
    }
}
