// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import * as core from "../../../../../../core/index.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import * as Earth from "../../../../../index.js";
import { PastClient } from "../resources/past/client/Client.js";
import { PersonalizedClient } from "../resources/personalized/client/Client.js";
import { RegionalClient } from "../resources/regional/client/Client.js";

export declare namespace ExperimentalClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ExperimentalClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ExperimentalClient.Options>;
    protected _regional: RegionalClient | undefined;
    protected _personalized: PersonalizedClient | undefined;
    protected _past: PastClient | undefined;

    constructor(options: ExperimentalClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get regional(): RegionalClient {
        return (this._regional ??= new RegionalClient(this._options));
    }

    public get personalized(): PersonalizedClient {
        return (this._personalized ??= new PersonalizedClient(this._options));
    }

    public get past(): PastClient {
        return (this._past ??= new PastClient(this._options));
    }

    /**
     * Get hourly weather forecast for a specific location and time
     *
     * @param {Earth.weather.ExperimentalExtendedRequest} request
     * @param {ExperimentalClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Earth.UnauthorizedError}
     * @throws {@link Earth.NotFoundError}
     * @throws {@link Earth.UnprocessableEntityError}
     * @throws {@link Earth.InternalServerError}
     *
     * @example
     *     await client.weather.experimental.extended({
     *         latitude: 47.6061,
     *         longitude: -122.3328,
     *         timezone: "local",
     *         units: "metric"
     *     })
     */
    public extended(
        request: Earth.weather.ExperimentalExtendedRequest,
        requestOptions?: ExperimentalClient.RequestOptions,
    ): core.HttpResponsePromise<Earth.HourlyWeatherResponse> {
        return core.HttpResponsePromise.fromPromise(this.__extended(request, requestOptions));
    }

    private async __extended(
        request: Earth.weather.ExperimentalExtendedRequest,
        requestOptions?: ExperimentalClient.RequestOptions,
    ): Promise<core.WithRawResponse<Earth.HourlyWeatherResponse>> {
        const { latitude, longitude, timezone, units } = request;
        const _queryParams: Record<string, unknown> = {
            latitude,
            longitude,
            timezone: timezone != null ? timezone : undefined,
            units: units != null ? units : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.EarthEnvironment.Production,
                "experimental/extended",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Earth.HourlyWeatherResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Earth.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Earth.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new Earth.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new Earth.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.EarthError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/experimental/extended");
    }
}
