// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import * as core from "../../../../../../core/index.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import * as Earth from "../../../../../index.js";

export declare namespace ForecastsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ForecastsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ForecastsClient.Options>;

    constructor(options: ForecastsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Query the available cyclone forecasts for a particular time
     *
     * @param {Earth.cyclones.ForecastsListRequest} request
     * @param {ForecastsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Earth.UnauthorizedError}
     * @throws {@link Earth.NotFoundError}
     * @throws {@link Earth.UnprocessableEntityError}
     * @throws {@link Earth.InternalServerError}
     *
     * @example
     *     await client.cyclones.forecasts.list({
     *         time: "2024-01-15T09:30:00Z",
     *         min_storm_category: 1,
     *         basin_ids: ["basin_ids"],
     *         model: "OFCL"
     *     })
     */
    public list(
        request: Earth.cyclones.ForecastsListRequest = {},
        requestOptions?: ForecastsClient.RequestOptions,
    ): core.HttpResponsePromise<Earth.CycloneForecastResponse[]> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: Earth.cyclones.ForecastsListRequest = {},
        requestOptions?: ForecastsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Earth.CycloneForecastResponse[]>> {
        const { time, min_storm_category: minStormCategory, basin_ids: basinIds, model } = request;
        const _queryParams: Record<string, unknown> = {
            time: time != null ? time : undefined,
            min_storm_category: minStormCategory,
            basin_ids: basinIds,
            model: model != null ? model : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.EarthEnvironment.Production,
                "cyclones/forecasts",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Earth.CycloneForecastResponse[], rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Earth.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Earth.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new Earth.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new Earth.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.EarthError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/cyclones/forecasts");
    }

    /**
     * Get cyclone tracks in GeoJSON (MF-GeoJSON) format
     *
     * @param {string} storm_id
     * @param {Earth.cyclones.ForecastsTrackRequest} request
     * @param {ForecastsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Earth.UnauthorizedError}
     * @throws {@link Earth.NotFoundError}
     * @throws {@link Earth.UnprocessableEntityError}
     * @throws {@link Earth.InternalServerError}
     *
     * @example
     *     await client.cyclones.forecasts.track("storm_id", {
     *         time: "2024-01-15T09:30:00Z",
     *         max_lead_time: "max_lead_time",
     *         model: "OFCL"
     *     })
     */
    public track(
        storm_id: string,
        request: Earth.cyclones.ForecastsTrackRequest = {},
        requestOptions?: ForecastsClient.RequestOptions,
    ): core.HttpResponsePromise<Earth.FeatureCollection> {
        return core.HttpResponsePromise.fromPromise(this.__track(storm_id, request, requestOptions));
    }

    private async __track(
        storm_id: string,
        request: Earth.cyclones.ForecastsTrackRequest = {},
        requestOptions?: ForecastsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Earth.FeatureCollection>> {
        const { time, max_lead_time: maxLeadTime, model } = request;
        const _queryParams: Record<string, unknown> = {
            time: time != null ? time : undefined,
            max_lead_time: maxLeadTime,
            model: model != null ? model : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.EarthEnvironment.Production,
                `cyclones/forecasts/${core.url.encodePathParam(storm_id)}/track`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Earth.FeatureCollection, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Earth.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Earth.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new Earth.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new Earth.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.EarthError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/cyclones/forecasts/{storm_id}/track",
        );
    }

    /**
     * Get cyclone forecast cone in GeoJSON format
     *
     * @param {string} storm_id
     * @param {Earth.cyclones.ForecastsConeRequest} request
     * @param {ForecastsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Earth.UnauthorizedError}
     * @throws {@link Earth.NotFoundError}
     * @throws {@link Earth.UnprocessableEntityError}
     * @throws {@link Earth.InternalServerError}
     *
     * @example
     *     await client.cyclones.forecasts.cone("storm_id", {
     *         time: "2024-01-15T09:30:00Z",
     *         max_lead_time: "max_lead_time",
     *         smooth_cone: true,
     *         model: "OFCL"
     *     })
     */
    public cone(
        storm_id: string,
        request: Earth.cyclones.ForecastsConeRequest = {},
        requestOptions?: ForecastsClient.RequestOptions,
    ): core.HttpResponsePromise<Earth.FeatureCollection> {
        return core.HttpResponsePromise.fromPromise(this.__cone(storm_id, request, requestOptions));
    }

    private async __cone(
        storm_id: string,
        request: Earth.cyclones.ForecastsConeRequest = {},
        requestOptions?: ForecastsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Earth.FeatureCollection>> {
        const { time, max_lead_time: maxLeadTime, smooth_cone: smoothCone, model } = request;
        const _queryParams: Record<string, unknown> = {
            time: time != null ? time : undefined,
            max_lead_time: maxLeadTime,
            smooth_cone: smoothCone,
            model: model != null ? model : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.EarthEnvironment.Production,
                `cyclones/forecasts/${core.url.encodePathParam(storm_id)}/cone`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Earth.FeatureCollection, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Earth.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Earth.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new Earth.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new Earth.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.EarthError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/cyclones/forecasts/{storm_id}/cone",
        );
    }
}
